@import url(../css/common.css);
@import url(../css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


body{
    width:345px;
    margin: 0 auto;
    /* padding: 0 10px; */
    border:1px solid #f0f0f0;
    position: relative;
    min-width:initial;
}

.sc-search{
    width: 100%;
}
.sc-search .character-name-search{
    width: 100%;
    padding-left: 10px;
    border:1px solid rgb(80, 80, 80);
    /* border-radius:3px; */
}



.sc-result{
    display: block;
    width: 100%;
    background: #2f2f2f;
    /* padding: 0 15px; */
    height: 265px;
    padding-bottom: 41px;
    color: #fff;
}
.sc-result .sub-title{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
}
.sc-result .sub-title.skeleton{
    height:16px;
    width:50px;
    margin-left:auto;
    margin-right:auto;
    border-radius:3px;
    
}
.sc-result .sub-title ~ div .skeleton{
    height:12px;
    width:70%;
    margin:0 auto;
    border-radius:3px;
    margin-top:4px;

}

.sc-result .simple-group{
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sc-result .simple-group .name{
    /* margin-right: 5px; */
    width: calc(50% - 38px/2);
    text-align: center;
}
.sc-result .simple-group .name a{
    display: inline-block;
    color: #fff;
    position: relative;
}
.sc-result .simple-group .name a::after{
    content:'로펙사이트에서 보기';
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgb(189, 189, 189);
    padding: 5px 8px;
    width: 140px;
    border-radius:3px;
    z-index:3;
    color: #000;
  
}
.sc-result .simple-group .name a:hover:after{
    display: block;
}
.sc-result .simple-group .name strong{
    font-size: 17px;
    display: block;
    text-align: center;
    margin-bottom: 4px;
}
.sc-result .simple-group .name em{
    display: block;
    text-align: center;
    font-size: 13px;
}
.sc-result .simple-group .grade{
    width: 38px;
    height: 38px;

}
.sc-result .simple-group .grade img{
    width: 100%;
    height: 100%;
}
.sc-result .simple-group .point{
    font-size: 20px;
    width: calc(50% - 38px / 2);
}
.sc-result .simple-group .skeleton{
    /* margin-top: 10px; */
    width: 50%;
    height: 20px;
}


.sc-result .patron-group{
    /* background: #f00; */
    width: 100%;
    height: 10px;
    display: none;
}


.sc-result .detail-group{
    display: flex;
}
.sc-result .detail-group > *{
    width: calc(100% / 3);
}




.sc-result .gem-area{
}
.sc-result .gem-area .gem-box{
    text-align: center;
}
.sc-result .gem-area .tag{
    display: inline-block;
    width: 48px;
    text-align: right;
}
.sc-result .gem-area .count{}



.sc-result .accessory-area{
    position: relative;
}
.sc-result .accessory-area:before,
.sc-result .accessory-area:after{
    content:'';
    display: block;
    position: absolute;
    width: 1px;
    height: 80%;
    background: rgb(173, 173, 173);
    top: 20px;

}
.sc-result .accessory-area:before{
    left: 0;
}
.sc-result .accessory-area:after{
    right: 0;
}

.sc-result .accessory-area .accessory-box{
    display: flex;
    justify-content: center;
}
.sc-result .accessory-area .name{
    width: 45px;
    text-align: right;
    margin-right: 5px;
    /* margin-left: 18px; */
}
.sc-result .accessory-area.wide .grade{
    width: 48px;
}
.sc-result .accessory-area .grade{
    width: 32px;
}
.sc-result .accessory-area .grade em{
    position: relative;
    display: inline-block;
    border-radius:3px;
    color: #fff;
    padding-bottom: 1px;
    padding-right: 1px;
}
.sc-result .accessory-area .grade em:first-child{
    /* margin-right: 1px; */
}
.sc-result .accessory-area .grade em.top{
    background: #c09e09;

}
.sc-result .accessory-area .grade em.middle{
    background: #7a13be;

}
.sc-result .accessory-area .grade em.bottom{
    background: #4671ff;

}
.sc-result .accessory-area .grade small{
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform:translateX(-50%);
    font-size:8px;
}





.sc-result .engraving-area{
    
}
.sc-result .engraving-area .engraving-box{
    display: flex;
    /* justify-content: center; */
}
.sc-result .engraving-area .name{
    margin-right: 5px;
    width: 45px;
    text-align:right;
}
.sc-result .engraving-area .tag{}
.sc-result .engraving-area .tag.top{color: #ff5d00;}
.sc-result .engraving-area .tag.middle{color: #ecc515;}
.sc-result .engraving-area .tag.low{color: #c26ef9;}
.sc-result .engraving-area .level{}




.sc-result .alert-group{
}
.sc-result .alert-area{
    width: 290px;
    height: 190px;
    background: rgb(255, 255, 255);
    color: #272a49;
    display: flex;
    flex-direction:column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 33px;
    transform:translateX(-50%);
    border-radius:5px;
    padding: 10px;
    overflow: hidden;
}
.sc-result .alert-area:after{
    content:'';
    display: block;
    width: 100%;
    height: 25px;
    background: #e3e3e3;
    position: absolute;
    left: 0;
    top: 0;
}
.sc-result .alert-area .img-box{
    width: 35px;
    height: 35px;
    margin-top: 25px;
}
.sc-result .alert-area .img-box img{
    width: 100%;
    height: 100%;
}
.sc-result .alert-area .text-box{
    text-align: center;
    margin-top: 10px;
}
.sc-result .alert-area .text-box .alert{
    font-weight: 600;
}
.sc-result .alert-area .text-box .desc{
    font-size: 14px;
    margin-top: 8px;
}
.sc-result .alert-area .button-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 0 10px;
    left: 0;
    bottom: 10px;
}
.sc-result .alert-area .button-box > *{
    width: 45%;
    padding: 8px 10px;
    border-radius:4px;
    cursor:pointer;
}
.sc-result .alert-area .button-box .agree{
    display: block;
    text-align: center;
    border:1px solid #272a49;
}
.sc-result .alert-area .button-box .disagree{
    background: initial;
    border:1px solid rgba(39, 42, 73, 0.5);
    opacity:0.3;
    transition:opacity 300ms;
}
.sc-result .alert-area .button-box .disagree:hover{
    opacity:0.7;
}


/* 하단광고 */
.bottom-ads{
    width: 343px;
    height: 60px;
    /* background: #2f2f2f; */
    position: absolute;
    top: 231px;
    left: 0;
}



