body{
    /* background: #dcdcdc; */
    min-width: 345px;
}


/* 그림자 */
.shadow{
    box-shadow: 0px 2px 10px 0px rgb(221, 221, 221);
    border-radius:5px;
}

/* 테두리 곡선 */
.radius{
    border-radius:3px;
    overflow: hidden;
}


/* ir용 글자 숨김처리 */
.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* 모바일 */
.mobile{
    display: none;
}
@media (max-width:767px){
    .mobile{
        display: block;
    }
}



/* 툴팁용 글자 css 초기화 */
font{
    font-size: inherit;
    color: inherit;
}


/* wrapper기본설정 */
.wrapper{
    transform: scale(0.95);
    width: 1300px;
    margin: 0 auto;
    /* position: relative; */
    margin-bottom: 150px;
}


/* 폰트크기 */
*{
    font-size: 16px;
}



/* 악세서리 및 장비칸 배경 색상 */
.ultra-background{
    background: linear-gradient(135deg,#3d3325,#dcc999);
}
.rare-background{
    background: linear-gradient(135deg,#341a09,#a24006);
}
.common-background{
    background: linear-gradient(135deg,#362003,#9e5f04);
}
.hero-background{
    background: linear-gradient(135deg,#27013d,#6e00aa)
}


/* 악세서리 및 장비 품질(하단) 바 색상 */
.common-progressbar{
    background:#a80000
}
.uncommon-progressbar{
    background:#ffd000ce
}
.rare-progressbar{
    background:#00a808
}
.epic-progressbar{
    background:#4671ff
}
.legendary-progressbar{
    background:#7a13be
}
.relics-progressbar{
    background:#d63f24
}
.mythic-progressbar{ 
    background:#ecc515
}



/* 각인 아이콘 is */
.engraving-ico{
    background: url("../image/img_engrave_icon.png");
    background-repeat:no-repeat;
    background-position-x:1px;
    margin-right: 3px;
}
.engraving-ico.blue{background-position-x:1px;} 
.engraving-ico.red{background-position-x:-27px;}
.engraving-ico.yellow{background-position-x:-57px}
.engraving-ico.puple{background-position-x:-86px}
.engraving-ico.orange{background-position-x:-115px}
.engraving-ico.unknown{display: none;}


/* 로딩 아이콘 */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: calc(50% - 60px);
    top: -30px;
    z-index:4;
    display: none;

  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  




@media (max-width:1027px){
    .wrapper{
        width:initial;
    }
}


/* 악세서리영역 상중하 색상 */
.quality.high,
.quality.DuelPhigh,
.quality.Duelhigh,
.quality.DuelLhigh,
.quality.SpPhigh,
.quality.SpMhigh,
.quality.SpLhigh,
.quality.Sphigh,
.quality.zhigh,
.quality.Phigh,
.quality.Lhigh,
.quality.Fhigh{
    background: #ecc515;
}
.quality.middle,
.quality.DuelPmiddle,
.quality.Duelmiddle,
.quality.DuelLmiddle,
.quality.SpPmiddle,
.quality.SpMmiddle,
.quality.SpLmiddle,
.quality.Sphigh,
.quality.zmiddle,
.quality.Spmiddle,
.quality.Pmiddle,
.quality.Lmiddle,
.quality.Fmiddle{
    background: rgb(122, 19, 190);
}
.quality.low,
.quality.DuelPlow,
.quality.Duellow,
.quality.DuelLlow,
.quality.SpPlow,
.quality.SpMlow,
.quality.SpLlow,
.quality.Splow,
.quality.zlow,
.quality.Splow,
.quality.Plow,
.quality.Llow,
.quality.Flow{
    background: #4671ff;
}




/* 스켈레톤 배경색상 */
.skeleton{
    /* background: #ccc; */

    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    
    img{
        display: none;
    }
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}




/* 물음표 아이콘 */


.question{
    background: url("../image/question-ico.png") center no-repeat;
    background-size:cover;
    width: 15px;
    height: 15px;
    display: block;
    position: relative;
    overflow: visible;
}
.question:hover{
    z-index:2;
}
.question:hover .detail{
    display: block;
    font-size: 16px;
    z-index:1;
}

.detail{
    white-space:nowrap;
    display: none;
    position: absolute;
    line-height:20px;
    top: 10px;
    left: 10px;
    /* background: #2f2f2f; */
    background: rgba(85, 85, 85, 0.9);
    color: #ffffff;
    border-radius:8px;
    padding: 5px 8px;

}





/* 검색아이콘 */
.search-btn{
    position: relative;
    border:none;
    background: #fff;
    cursor:pointer;
    flex-shrink: 0;
}
.search-btn::after{
    position: absolute;
    top: 50%;
    left: 30%;
    transform:translate(-50%,-50%);
    content:'';
    width: 70%;
    height: 70%;
    display: block;
    background: url("../image/search-ico.png") no-repeat;
    background-size:contain;
}






/* 초소형 사이즈 업데이트 후 추후 제거*/ 
/* @media (max-width:350px){ 
    body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video ,input{
        display: none;
    }
    body{
        min-height:initial !important;
        height:auto !important;
    }
    .engraving-area, .sc-footer, .sc-header, .group-logo{
        display: none !important;
    }
    .minimum{
        display: block;
    }
    .sc-info{
        margin-top: 10px !important;
    }
    .sc-mobile-search,.sc-info{
        display: block !important;
    }
    .tier-box{
        display: flex;
        justify-content: center;
    }
} */