body{
    /* background: #dcdcdc; */
    min-width: 345px;
}


/* 그림자 */
.shadow{
    box-shadow: 0px 2px 10px 0px rgb(221, 221, 221);
    border-radius:5px;
}

/* 테두리 곡선 */
.radius{
    border-radius:3px;
    overflow: hidden;
}


/* ir용 글자 숨김처리 */
.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* 모바일 */
.mobile{
    display: none;
}
@media (max-width:767px){
    .mobile{
        display: block;
    }
}



/* 툴팁용 글자 css 초기화 */
font{
    font-size: inherit;
    color: inherit;
}


/* wrapper기본설정 */
.wrapper{
    width: 1300px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 150px;

}
@media (max-width:768px){
    .wrapper{
        margin-top: 100px;
    }
}


/* 폰트크기 */
*{
    font-size: 16px;
}



/* 악세서리 및 장비칸 배경 색상 */
.ultra-background{
    background: linear-gradient(135deg,#3d3325,#dcc999);
}
.rare-background{
    background: linear-gradient(135deg,#341a09,#a24006);
}
.common-background{
    background: linear-gradient(135deg,#362003,#9e5f04);
}
.hero-background{
    background: linear-gradient(135deg,#27013d,#6e00aa)
}


/* 악세서리 및 장비 품질(하단) 바 색상 */
.common-progressbar{
    background:#a80000
}
.uncommon-progressbar{
    background:#ffd000ce
}
.rare-progressbar{
    background:#00a808
}
.epic-progressbar{
    background:#4671ff
}
.legendary-progressbar{
    background:#7a13be
}
.relics-progressbar{
    background:#d63f24
}
.mythic-progressbar{ 
    background:#ecc515
}



/* 각인 아이콘 is */
.engraving-ico{
    background: url("../image/img_engrave_icon.png");
    background-repeat:no-repeat;
    background-position-x:1px;
    margin-right: 3px;
}
.engraving-ico.blue{background-position-x:1px;} 
.engraving-ico.red{background-position-x:-27px;}
.engraving-ico.yellow{background-position-x:-57px}
.engraving-ico.puple{background-position-x:-86px}
.engraving-ico.orange{background-position-x:-115px}
.engraving-ico.unknown{display: none;}


/* 로딩 아이콘 */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: calc(50% - 60px);
    top: -30px;
    z-index:4;
    display: none;

  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  




@media (max-width:1027px){
    .wrapper{
        width:initial;
    }
}


/* 악세서리영역 상중하 색상 */
.quality.high,
.quality.DuelPhigh,
.quality.Duelhigh,
.quality.DuelLhigh,
.quality.SpPhigh,
.quality.SpMhigh,
.quality.SpLhigh,
.quality.Sphigh,
.quality.zhigh,
.quality.Phigh,
.quality.Lhigh,
.quality.Fhigh{
    background: #ecc515;
}
.quality.middle,
.quality.DuelPmiddle,
.quality.Duelmiddle,
.quality.DuelLmiddle,
.quality.SpPmiddle,
.quality.SpMmiddle,
.quality.SpLmiddle,
.quality.Sphigh,
.quality.zmiddle,
.quality.Spmiddle,
.quality.Pmiddle,
.quality.Lmiddle,
.quality.Fmiddle{
    background: rgb(122, 19, 190);
}
.quality.low,
.quality.DuelPlow,
.quality.Duellow,
.quality.DuelLlow,
.quality.SpPlow,
.quality.SpMlow,
.quality.SpLlow,
.quality.Splow,
.quality.zlow,
.quality.Splow,
.quality.Plow,
.quality.Llow,
.quality.Flow{
    background: #4671ff;
}




/* 스켈레톤 배경색상 */
.skeleton{
    /* background: #ccc; */

    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    
    img{
        display: none;
    }
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}




/* 물음표 아이콘 */


.question{
    background: url("../image/question-ico.png") center no-repeat;
    background-size:cover;
    width: 15px;
    height: 15px;
    display: block;
    position: relative;
    overflow: visible;
}
.question:hover{
    z-index:2;
}
.question:hover .detail{
    display: block;
    font-size: 16px;
    z-index:1;
}

.detail{
    white-space:nowrap;
    display: none;
    position: absolute;
    line-height:20px;
    top: 10px;
    left: 10px;
    /* background: #2f2f2f; */
    background: rgba(85, 85, 85, 0.9);
    color: #ffffff;
    border-radius:8px;
    padding: 5px 8px;

}





/* 검색아이콘 */
.search-btn{
    position: relative;
    border:none;
    background: #fff;
    cursor:pointer;
    flex-shrink: 0;
}
.search-btn::after{
    position: absolute;
    top: 50%;
    left: 30%;
    transform:translate(-50%,-50%);
    content:'';
    width: 70%;
    height: 70%;
    display: block;
    background: url("../image/search-ico.png") no-repeat;
    background-size:contain;
}






/* 다크모드 */

.dark-mode{
    background: #121212;
}
.dark-mode .shadow{
    box-shadow:none;
}
.dark-mode .sc-header{
    background: #1d1e1f;
    color: #fff;
}
body{
    transition:background 300ms, color 300ms;
}

html.dark-mode .sc-info .tag-list,
.dark-mode .sc-info .engraving-area,
.dark-mode .sc-info .group-equip .gem-area,
.dark-mode .sc-info .armor-wrap > div,
.dark-mode .sc-info .ark-area,
.dark-mode .sc-footer{
    background: #2f2f2f;
    color: #fff;
}
.dark-mode .notice,
.dark-mode .temp-text{
    color: #fff;
}

.dark-mode .sc-info .group-profile .tag-item .tag,
.dark-mode .sc-info .text-box .elixir-wrap .elixir{
    background: #15181d;
}


.dark-mode .sc-header .logo-group .link-site,
.dark-mode .sc-container .group-logo .link-logo{
    background: url("../image/dark-mode-logo.png") center center / contain no-repeat;
}



/* .dark-mode .sc-info .group-info .spec-area .question{
    background: url('../image/dark-mode-question-ico.png') center center / cover no-repeat;
} */




.dark-mode-button {
    --size: 40px;
    appearance: none;
    outline: none;
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
    border-radius: 999px;
    color: hsl(58, 100%, 69%);
    transition: all 500ms;
}

.dark-mode-button:checked {
    --ray-size: calc(var(--size) * -0.4);
    --offset-orthogonal: calc(var(--size) * 0.65);
    --offset-diagonal: calc(var(--size) * 0.45);
    transform: scale(0.75);
    color: hsl(40, 100%, 50%);
    box-shadow: 
        inset 0 0 0 var(--size),
        calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
        var(--offset-orthogonal) 0 0 var(--ray-size),
        0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
        0 var(--offset-orthogonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
        var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
        var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
}

.dark-mode-button {
    z-index: 1;
}

.dark-mode-button:checked ~ .background {
    --bg: white;
}










/* 광고 */

.sc-top-ads{
    /* opacity: 0; */
    width: 730px;
    height: 90px;
    /* background: #f00; */
    margin: 0 auto;
    margin-top: 70px;
}
.sc-top-ads img{
    object-fit: contain;
}

@media (max-width: 768px) {
    .sc-top-ads{
        width: auto;
        display: none;
    }
}


.side-ads{
    width: 160px;
    height: 600px;
    position: absolute;
}
.side-ads.left{
    right: calc(100% + 100px);
}
.side-ads.right{
    left: calc(100% + 100px);
}

.ads{
    top:50%;
    transform:translateY(-50%);
    position: fixed;
    width: inherit;
    height: inherit;
    /* background: #f00; */
}

@media (max-width:1027px) {
    .side-ads{
        display: none;
    }
}
