@import url(./reset.css);
@import url(./common.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 기본 레이아웃 스타일 */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans KR', sans-serif;
    height: auto;
    min-height: 100%;
    /* padding-bottom: 40px !important; */
  
}

/* 콘텐츠 래퍼 스타일 */
.content-wrapper {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

/* 페이지 콘텐츠 스타일 */
.page-content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* 헤더 스타일 */
.sc-header {
    position: fixed;
    top: 0;
    z-index:3;
    width: 100%;
    height: 60px;
    background: rgb(236, 236, 236);
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.sc-header .logo-group {
    width: calc(100%/3);
    display: flex;
    align-items: center;
}

.sc-header .logo-group .logo {
    width: 160px;
    height: 60px;
    margin-right: 10px;

}

.sc-header .logo-group .link-site {
    display: block;
    background: url("../image/logo.png") center center no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}
.sc-header .logo-group .link-box{
    display: flex;
}
.sc-header .logo-group .link-alert{
    font-size: 16px;
    display: block;
    margin-right: 10px;
    color: inherit;
}
.sc-header .logo-group .link-alert:last-child{
    margin-right: 0;
}

.sc-header .group-search {
    width: calc(100%/3);
    display: flex;
    justify-content: center;
}
.sc-header .group-search.on .header-input {
    display: block;
}
.sc-header .group-search.on .search-btn{
    display: block;
}

.sc-header .header-input {
    width: 400px;
    height: 40px;
    padding-left: 40px;
    font-size: 18px;
    border: none;
    border-radius: 50px 0 0 50px;
    outline: none;
    display: none;
}
.sc-header .search-btn{
    border-radius:0 50px 50px 0;
    display: none;
    width: 40px;
}


.sc-header .group-sns {
    width: calc(100%/3);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.sc-header .group-sns .sns-ico {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius:50px;
}


/* 푸터 스타일 */
.sc-footer {
    width: 100%;
    text-align: center;
    background: rgb(233, 233, 233);
    font-size: 13px;
    padding: 5px 0;
    /* height: 40px; */
    position : absolute;
    display: none;
    /* top:calc(1236px - 40px); */
    z-index:3;
  
}

.sc-footer span {
    font-weight: 400;
    color: #747474;
    display: block;
    height: 100%;
}

/* 메인 페이지 특정 스타일 */
body.home .content-wrapper {
    justify-content: space-between;
}

body.home .page-content {
    flex: 0 0 auto;
}



/* 최근검색 */
.group-recent{
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 300px;
    height: 245px;
    z-index:3;
    border:1px solid rgb(55, 55, 55);
    border-radius:5px;
    overflow:hidden;
}
.group-recent .name-area{
    height: 43px;
    display: flex;
    width: 100%;
}
.group-recent .name-area .sort{
    width: 50%;
    height: 100%;
    line-height:43px;
    text-align: center;
    display: block;
    cursor:pointer;
    background: #d8d8d8;
}
.group-recent .name-area .sort.on{
    background: #fff;
}


.group-recent .memo{
    display: none;
}
.group-recent .memo.on{
    display: block;
}
.group-recent .memo .name-box{
    display: flex;
    height: 40px;
    font-size: 18px;
    align-items: center;
    position: relative;
    transition:background 300ms;
    background:initial;
}
.group-recent .memo .name-box:hover{
    background: rgb(245, 245, 245);
}
.group-recent .memo .name-box:after{
    content:'';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(165, 165, 165);
}
.group-recent .memo .name-box:nth-child(5):after{
    display: none;
}
.group-recent .memo .name-box .name{
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    padding-left: 10px;
}




.group-recent .memo .name-box .remove{
    cursor:pointer;
}
.group-recent .memo .name-box .star{
    color: #ddd;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform:translateY(-50%);
}
.group-recent .memo .name-box .star:before{
    text-shadow: 0 0 2px rgba(0,0,0,0.7);
    color: #FDE16D;
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
    left: 0;

}
.group-recent .memo .name-box .del{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform:translateY(-50%);
}
.group-recent .memo .name-box .del:before,
.group-recent .memo .name-box .del:after{
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: rgba(48, 48, 48, 0.7);
    transform-origin:top center;
    transition:background 300ms;
    cursor:pointer;
}
.group-recent .memo .name-box .del:before{
    top: 50%;
    left: 0;
    transform:translateY(-50%);
    rotate:45deg
}
.group-recent .memo .name-box .del:after{
    top: 50%;
    left: 0;
    transform:translateY(-50%);
    rotate:-45deg
}
.group-recent .memo .name-box .del:hover:before,
.group-recent .memo .name-box .del:hover:after{
    background: rgba(28, 28, 28, 1);

}


.group-recent .bookmark-area{

}
.group-recent .recent-area{
}





/* 반응형 */

@media (max-width:1431px){
    .sc-header .logo-group .logo {
        width: 130px;
    }
    .sc-header .logo-group .link-alert {
        font-size: 14px;
        margin-right: 6px;
    }
}



@media (max-width:1027px){
    .sc-header{
        height: 50px;
        padding: 0 10px;
        justify-content: space-between;
    }



    .sc-header .logo-group,
    .sc-header .group-sns{
        width: 30%;
        height: 50px;
    }
    .sc-header .logo-group .logo{
        width: 120px;
        height: 100%;
        display: block;
    }
    .sc-header .logo-group .link-alert {
        font-size: 12px;
    }




    .sc-header .group-search{
        width: 40%;
        /* display: none; */
    }




    .sc-header .group-sns .link-sns{
    }
    .sc-header .group-sns .link-sns img{
        width: 25px;
        height: 25px;
    }
}



@media (max-width: 768px) {


    .sc-header .group-search{
        display: none;
    }


    .sc-header {
        padding: 0 20px;
    }

    .sc-header .header-input {
        width: 100%;
    }

    .sc-header .logo-group{
        width: 60%;
        height: 50px;
    }
    .sc-header .logo-group .link-box{
        /* display: none; */
    }
    .sc-header .group-sns{
        width: 40%;
        gap: 5px;
    }


    .sc-header .group-sns {
        /* justify-content: center; */
    }
    .dark-mode-button{
        --size:30px;
    }
}





