.notice-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sc-notice {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    padding-right: 5px;
    margin-bottom: 20px;
    background: #fff;
    overflow-y: auto;
    height: auto;
    height: 300px;
}

.sc-notice .scrollbar {
    padding-right: 10px;
}

.sc-notice .group-title {
    padding-bottom: 25px;
}

.sc-notice .group-title .title {
    font-size: 18px;
}


.sc-notice .group-notice {}

.sc-notice .group-notice .notice-list {}

.sc-notice .group-notice .notice-list:last-child .name-box {
    border-bottom: 1px solid rgb(167, 167, 167);
}




.sc-notice .group-notice .name-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-top: 1px solid rgb(167, 167, 167);
    padding: 0 15px;
    cursor: pointer;
    background: #fff;
    transition: background 300ms;
}

.sc-notice .group-notice .name-box:hover {
    background: #f5f5f5;
}

.dark-mode .sc-notice .group-notice .name-box:hover {
    background: #161616;
}

.sc-notice .group-notice .name-box .name {
    font-size: 15px;
}

.sc-notice .group-notice .name-box .detail-btn {
    min-width: 20px;
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
}




.sc-notice .group-notice .name-box .detail-btn:before,
.sc-notice .group-notice .name-box .detail-btn:after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 50%;
    background: rgb(48, 48, 48);
    transition: transform 300ms;
    transform: translateY(-50%) rotate(0);
}

.dark-mode .sc-notice .group-notice .name-box .detail-btn:before,
.dark-mode .sc-notice .group-notice .name-box .detail-btn:after {
    background: #fff;

}

.sc-notice .group-notice .name-box .detail-btn:after {
    transform: translateY(-50%) rotate(90deg);
}

.sc-notice .group-notice .notice-list.on .detail-btn:after {
    transform: translateY(-50%) rotate(0);
}

.sc-notice .group-notice .name-box .detail-btn:before {}

.sc-notice .group-notice .notice-box {
    height: 0;
    overflow: hidden;
    /* background: #fff; */
    background: #f5f5f5;
    /* white-space: pre-line; */
    transition: height 300ms;

}

.sc-notice .group-notice .notice-box .desc {
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 0;
    padding: 15px;
}




.sc-notice .group-notice .notice-list.on .name {}

.sc-notice .group-notice .notice-list.on .detail-btn {}

.sc-notice .group-notice .notice-list.on .name-box {
    border-bottom: 1px solid rgb(167, 167, 167);
    height: 41px;
}

.sc-notice .group-notice .notice-list.on .notice-box {
    background: #f5f5f5;
}

.dark-mode .sc-notice .group-notice .notice-list .notice-box {
    background: #161616;
}








.sc-answer {
    max-width: 600px;
    width: 100%;
}


.sc-answer .group-answer {
    padding: 20px;
    padding-right: 5px;
    height: auto;
    background: #fff;
}

.sc-answer .group-answer:last-child {
    margin-top: 20px;
}

.sc-answer .group-answer .scrollbar {
    padding-right: 15px;
}


.sc-answer .group-answer .title-area {}

.sc-answer .group-answer .title-area .title {
    font-size: 18px;
    padding-bottom: 25px;
}



.sc-answer .group-answer .answer-area .desc {
    font-size: 15px;
    line-height: 24px;
    border-top: 1px solid rgb(167, 167, 167);
    padding-top: calc(25px / 2);
}








.sc-ranking {
    display: flex;
    gap: 20px;
    margin-top: 120px;
    justify-content: center;

}

.sc-ranking .group-ranking {
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.sc-ranking .group-ranking.dealer {}

.sc-ranking .group-ranking.support {
    flex-direction: row-reverse;

}

.sc-ranking .group-ranking.support img {
    /* transform:rotateY(180deg); */
}

.sc-ranking .group-ranking .ranking-box {
    color: #fff;
    /* overflow: hidden; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #15181d;
    padding-bottom: 10px;
    width: 170px;
    position: relative;
}

.sc-ranking .group-ranking .ranking-box:after {
    content: '';
    display: block;
    width: 50px;
    height: 40px;
    position: absolute;
    bottom: 100%;
    z-index: 3;
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
}

/* .sc-ranking .group-ranking .ranking-box:after{
    content:'N';
    width: 30px;
    height: 30px;
    background: #f00;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: absolute;
} */
.sc-ranking .group-ranking .ranking-box:nth-child(1):after {
    background-image: url("../image/crown-gold.png")
}

.sc-ranking .group-ranking .ranking-box:nth-child(2):after {
    background-image: url("../image/crown-gold.png")
}

.sc-ranking .group-ranking .ranking-box:nth-child(3):after {
    background-image: url("../image/crown-gold.png")
}

.sc-ranking .group-ranking .ranking-box:last-child {
    width: 250px;
}

.sc-ranking .group-ranking .ranking-box:last-child .img-item {
    height: 230px;
}

.sc-ranking .group-ranking .img-item {
    border-radius: 5px;
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
}

.sc-ranking .group-ranking img {

    width: 180%;
    object-fit: cover;
    transform: scale(100%);
    transition: transform 300ms;
    margin-top: -40px;


}

.sc-ranking .group-ranking .ranking-box:hover img {
    transform: scale(115%);

}

.sc-ranking .group-ranking .name {
    margin: 8px 0;
}

.sc-ranking .group-ranking .point {}




.sc-user-rank {
    margin: 0 auto;
    margin-top: 90px;
    width: 1050px;
    position: relative;
}

.sc-user-rank .group-filter {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 100%;
}

.sc-user-rank .group-filter .filter {
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
    background: rgb(189, 189, 189);
    color: #fff;
    cursor: pointer;

}

.sc-user-rank .group-filter .filter.on {
    background: rgb(71, 71, 71);
}

.sc-user-rank .group-user {
    padding: 15px 50px;
    padding-bottom: 80px;
}

.sc-user-rank .group-user.dealer {}

.sc-user-rank .group-user.support {
    display: none;
}

.sc-user-rank .group-user .user-item {
    color: #000;
    display: flex;
    padding: 25px 0;
    padding-left: 15px;
    border-bottom: 1px solid gray;
    background: #fff;
    transition: background 300ms;
}

.sc-user-rank .group-user .user-item.tag:hover {
    background: #fff;

}

.sc-user-rank .group-user .user-item:hover {
    background: rgb(244, 244, 244);
}

.sc-user-rank .group-user .user-item span {
    width: 10%;
}

.sc-user-rank .group-user .user-item .rank {}

.sc-user-rank .group-user .user-item .name {
    width: 30%;
}

.sc-user-rank .group-user .user-item .level {}

.sc-user-rank .group-user .user-item .class {}

.sc-user-rank .group-user .user-item .server {}

.sc-user-rank .group-user .user-item .guild {}

.sc-user-rank .group-user .user-item .spec {
    width: 20%;
}

.sc-user-rank .more-view {
    position: absolute;
    left: 50%;
    bottom: 35px;
    transform: translateX(-50%);
    background: none;
    color: rgb(36, 80, 255);
    cursor: pointer;
}


.sc-info {
    padding-top: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#characterNames {
    position: absolute;
    left: 0;
    top: 0;
}

.sc-info .group-profile {
    max-width: 600px;
    width: 100%;
    position: relative;
}

.sc-info .group-profile .renew-button {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 5px 8px;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    transition: background 300ms, color 300ms;
}

.sc-info .group-profile .img-area {
    width: 100%;
    height: 100%;
    background: #15181d;
    color: #fff;
    text-align: center;
    overflow: hidden;
    height: 458px;
}

.sc-info .group-profile .img-area img {
    width: 100%;
    height: 347px;
    object-fit: contain;
}

.sc-info .group-profile .img-area .image {
    width: 100%;
    height: 347px;
    display: block;
}

.sc-info .group-profile .star {
    cursor: pointer;
    color: #8d8d8d;
    font-size: 30px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.sc-info .group-profile .star:before {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    color: #FDE16D;
    content: '\2605';
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 300ms;
}

.sc-info .group-profile .star.full:before {
    opacity: 1;
}


.sc-info .group-profile .img-area .level {
    margin-top: 15px;
}

.sc-info .group-profile .img-area .name {
    margin: 7px 0 10px;
    font-size: 22px;
}

.sc-info .group-profile .class {}


.sc-info .group-profile .tag-list {
    margin-top: 20px;
    padding: 15px;
    background: #fff;
}

.sc-info .group-profile .tag-item {
    display: flex;
    margin-top: 5px;
}

.sc-info .group-profile .tag-item:first-child {
    margin-top: 0;
}

.sc-info .group-profile .tag-item .tag {
    margin-right: 10px;
    width: 60px;
    height: 25px;
    background: #cdcdcd;
    line-height: 25px;
    text-align: center;
}

.sc-info .group-profile .tag-item .tag.invisible1 {
    visibility: hidden
}

.sc-info .group-profile .tag-item .tag.invisible2 {
    visibility: hidden
}

.sc-info .group-profile .tag-item .name {
    line-height: 25px;
}


.sc-info .group-profile .alert-area {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    left: 0;
    top: 0;
    z-index: 3;
    display: none;
}

.sc-info .group-profile .alert-wrap {
    position: fixed;
    background: #f5f5f5;
    max-width: 439px;
    width: 90%;
    padding: 20px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;

}

.sc-info .group-profile .alert-area .desc {
    font-size: 19px;
    line-height: 1.7rem;
}

.sc-info .group-profile .alert-area .button-box {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.sc-info .group-profile .alert-area button {
    padding: 8px 25px;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;

}

.sc-info .group-profile .alert-area .refresh {
    background: #3f96fd;
}

.sc-info .group-profile .alert-area .cancle {
    background: #9f9f9f;
}



.sc-info .group-info {
    width: 100%;
    margin-top: 20px;
}

.sc-info .group-info .spec-area {
    width: 100%;
    background: #2f2f2f;
    padding: 0 15px;
    text-align: center;
    color: #fff;
    position: relative;
}

.sc-info .group-info .spec-area .tier-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 0 10px;
}

.sc-info .group-info .spec-area.alert .tier-box:after {
    content: "점수가 빨간색일 경우 클릭하세요";
    color: #f00;
    width: 200px;
    position: absolute;
    left: 50%;
    bottom: -3px;
    line-height: initial;
    transform: translate(-50%, 0);
    font-size: 11px;
}

.sc-info .spec-area .tier-box:hover .tier-info {
    display: block;
}

.sc-info .group-info .spec-area img {
    width: 50px;
    height: 50px;
}

.sc-info .spec-area .tier-info {
    padding: 3px 5px;
    background: #ffffff;
    color: #000;
    border-radius: 10px;
    position: absolute;
    display: none;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%)
}


.sc-info .group-info .spec-area .spec-point {
    line-height: 28px;
    font-size: 28px;
    font-weight: 600;
    display: inline-block;
    justify-content: center;
    position: relative;
}

.sc-info .group-info .spec-area .spec-point .question {
    position: absolute;
    top: 24px;
    right: -25px;
    transform: translateY(-50%);
}

.sc-info .group-info .spec-area .spec-point .question.alert {
    background: url("../image/alert-icon.png") center no-repeat;
    background-size: cover;
}

.sc-info .group-info .spec-area .spec-point .detail {
    text-align-last: left;
}

.sc-info .spec-area .gauge-box {
    padding: 7px 20px 20px;
}

.sc-info .spec-area .gauge-box .gauge {
    padding: 5px 8px;
    border-radius: 15px;
    background: rgba(92, 92, 92, 0.7);
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.sc-info .spec-area .gauge-box .tier {
    z-index: 1;
    font-size: 12px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

.sc-info .spec-area .gauge-box .value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 10px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.sc-info .spec-area .gauge-box .bar {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, #11a0f8 0%, #69d0fd 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    z-index: 0;
}

.sc-info .spec-area .gauge-box .desc {}

.sc-info .spec-area .reset {
    padding: 3px 5px;
    cursor: pointer;
    border: 1px solid #ffffff;
    border-radius: 4px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.sc-info .group-info .reset-area {
    display: block;
    margin-top: 20px;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background: #2f2f2f;
    color: #fff;
    cursor: pointer;
}


.sc-info .detail-area {
    position: relative;
    color: #fff;
    width: 100%;
    background-color: #2f2f2f;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.sc-info .detail-area.on {
    gap: 13px 0;
}

.sc-info .detail-area .title-box {
    text-align: center;
    padding: 15px 0;
}

.sc-info .detail-area .info-wrap {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 0;
}

.sc-info .detail-area.on .info-wrap {
    height: auto;
    padding: 15px 15px 0;
    border-top: 1px solid #636363;
}

.sc-info .detail-area .info-wrap:first-child {
    border: none;
}

.sc-info .detail-area.on .info-wrap:last-child {
    padding-bottom: 15px;
}

.sc-info .detail-area .info-wrap:last-child {
    padding-bottom: 0;
}

.sc-info .detail-area .info-wrap .tag {
    font-size: 16px;
    color: #03dac5;
    font-weight: 600;
    padding: 5px 0;
}

.sc-info .detail-area .info-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #404040;
}

.sc-info .detail-area .info-box:last-child {
    border: none;
}

.sc-info .detail-area .info-box .text {
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.sc-info .detail-area .info-box .text i {
    height: 100%;
    width: 16px;
    margin-right: 5px;
}

.sc-info .detail-area .button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 10px;
    background: #cecece;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}


.sc-info .detail-area.on .button {
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}


.sc-info .group-equip {
    max-width: 600px;
    width: 100%;
    position: relative;
}

.sc-info .group-equip .gem-area {
    background: #fff;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    font-size: 0;
    padding: 15px;
    justify-content: flex-start;
    width: 100%;
}

.sc-info .gem-area .gem-box {
    width: 44px;
    height: 44px;
    position: relative;
}

.sc-info .gem-area .gem-box img {
    width: 100%;
    height: 100%;
}

.sc-info .gem-area .gem-box .level {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    line-height: 12px;
    background: rgba(92, 92, 92, 0.7);

    width: 14px;
    height: 14px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}



.sc-info .armor-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.sc-info .armor-wrap .img-box.ultra {
    background: linear-gradient(135deg, #3d3325, #dcc999);
}

.sc-info .armor-wrap .img-box.rare {
    background: linear-gradient(135deg, #341a09, #a24006);
}

.sc-info .armor-wrap .img-box.common {
    background: linear-gradient(135deg, #362003, #9e5f04);
}


.sc-info .armor-area {
    width: 100%;
    background: #fff;
    padding: 15px;
    align-self: flex-start;
}

.sc-info .armor-area .armor-list {}

.sc-info .armor-area .armor-item {
    min-height: 64px;
    width: 100%;
    font-size: 0;
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.sc-info .armor-area .armor-item:last-child {
    margin-bottom: 0;
}

.sc-info .armor-area .armor-item:last-child .text-box {
    justify-content: center;
    gap: 5px;
}

.sc-info .armor-area .armor-item:last-child .text-box .name-wrap {
    font-size: 13px;
}

.sc-info .armor-area .img-box {
    width: 42px;
    position: relative;
    min-width: 42px;
}

.sc-info .armor-area .img-box img {
    width: 100%;
}

.sc-info .armor-area .img-box .tier {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    padding: 2px 5px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.sc-info .armor-area .img-box .progress {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 12px;
    display: block;
    padding: 2px 0;
    color: #fff;
}

.sc-info .armor-area .text-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sc-info .text-box .name-wrap {
    font-size: 15px;
}

.sc-info .text-box .name-wrap .tag {}

.sc-info .text-box .name-wrap .armor-name {}

.sc-info .text-box .elixir-wrap {
    font-size: 13px;
    display: flex;
    gap: 5px;
}

.sc-info .text-box .elixir-wrap .elixir {
    /* height: 13px; */
    font-size: 11px;
    padding: 2px 3px;
    background: #cdcdcd;
    display: block;
}

.sc-info .text-box .hyper-wrap {
    font-size: 13px;
    display: flex;
    align-items: center;
}

.sc-info .text-box .hyper-wrap .hyper {
    position: relative;
    padding-right: 4px;
    display: flex;
    align-items: center;
}

.sc-info .text-box .hyper-wrap .hyper img {
    width: 16px;
    height: 16px;
}

.sc-info .text-box .hyper-wrap .hyper:after {
    display: block;
    content: '';
    width: 1px;
    height: 100%;
    background: rgb(134, 134, 134);
    position: absolute;
    right: 0;
    top: 0;
}

.sc-info .text-box .hyper-wrap .level {
    padding-left: 4px;
}



.sc-info .accessory-area {
    width: 100%;
    background: #fff;
    padding: 15px;
    margin-top: 20px;
    align-self: flex-start;
}

.sc-info .accessory-area .accessory-list {}

.sc-info .accessory-area .accessory-item {
    height: 64px;
    width: 100%;
    font-size: 0;
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.sc-info .accessory-area .accessory-item:last-child {
    /* margin-bottom: 16px; */
    margin-bottom: 0;
}

.sc-info .accessory-area .img-box {
    width: 42px;
    position: relative;
    min-width: 42px;
}

.sc-info .accessory-area .img-box img {
    width: 100%;
}

.sc-info .accessory-area .img-box .tier {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    padding: 2px 5px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.sc-info .accessory-area .img-box .progress {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 12px;
    display: block;
    padding: 2px 0;
    color: #ffffff;
}

.sc-info .accessory-item:last-child .img-box .progress {
    /* display: none; */
}

.sc-info .accessory-area .text-box {
    /* width: calc(50% - 42px / 2); */
    /* background: #00f; */
    font-size: 13px;
    display: flex;
    /* display: none; */
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.sc-info .text-box .grinding-wrap {
    display: flex;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    height: 17px;
}

.sc-info .text-box .quality {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 17px;
    color: #fff;
    font-size: 13px;
}

/* .sc-info .text-box .quality.high{
    background: #ecc515;
}
.sc-info .text-box .quality.middle{
    background: rgb(122, 19, 190);
}
.sc-info .text-box .quality.low{
    background: #4671ff;
} */
.sc-info .text-box .option {
    border: 1px solid rgb(179, 179, 179);
    border-left: none;
    letter-spacing: -1px;
    border-radius: 0 4px 4px 0;
    padding: 1px 0;
    padding-right: 5px;
    padding-left: 2px;
    font-size: 13px;
}

.sc-info .text-box .text {
    padding: 1px 4px 1px 3px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 0 4px 4px 0;
}

.sc-info .text-box .color {}


.sc-info .accessory-area .option-box {
    font-size: 13px;
    display: flex;
    /* display: none; */
    flex-direction: column;
    justify-content: space-evenly;

}

.sc-info .option-box .option-wrap {
    display: flex;
    gap: 3px;
}

.sc-info .option-box .option {
    font-size: 13px;
    height: 100%;
}

.sc-info .option-box .buff-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    letter-spacing: -1px;
}

.sc-info .option-box .buff-wrap .buff {
    font-size: 12px;
    border-radius: 13px;
    /* color: rgb(36, 94, 255); */
    border: 1px solid rgb(219, 219, 219);
    padding: 2px 4px;
}

.sc-info .option-box .buff-wrap .buff.minus {
    color: rgb(231, 61, 61);
}


.sc-info .addon-area {
    width: 100%;
    height: 80px;
    background: #fff;
    margin-top: 20px;
}


.sc-info .ark-area {
    margin-top: 20px;
    padding: 15px;
    background: #fff;
}

.sc-info .ark-area .ark-false {
    text-align: center;
}

.sc-info .ark-area .ark-list-wrap {
    display: flex;
    flex-direction: column;
}

.sc-info .ark-area .ark-list {
    width: 100%;
    position: relative;
    margin-top: 30px;
    min-height: 80px;
}

.sc-info .ark-area .ark-list:first-child {
    margin-top: 0;
}

.sc-info .ark-area .title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 7px;
    padding-bottom: 13px;
    margin-bottom: 9px;
    position: relative;
}

.sc-info .ark-area .title-box:after {
    content: '';
    display: block;
    width: 98%;
    height: 1px;
    background: #adadad;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.sc-info .ark-area .title-box .tag {
    padding: 4px 7px;
    color: #fff;
    border-radius: 4px;
    border: 1px solid rgb(194, 194, 194);
}

.sc-info .ark-area .title-box.evolution .tag {
    background: #bd9b4c;
}

.sc-info .ark-area .title-box.enlightenment .tag {
    background: #59b4c9;
}

.sc-info .ark-area .title-box.leap .tag {
    background: #a4c44d;
}

.sc-info .ark-area .title-box .title {}





.sc-info .ark-area .ark-list.evolution {}

.sc-info .ark-area .ark-list.enlightenment {}

.sc-info .ark-area .ark-list.leap {}

.sc-info .ark-area .ark-item {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 8px;
    padding-left: 10px;
}

.sc-info .ark-area .ark-item:last-child {
    margin-bottom: 0;
}

.sc-info .ark-area .ark-item .img-box {
    display: flex;
    gap: 10px;
    position: relative;
}

.sc-info .ark-area .ark-item .img-box .tier {
    display: block;
    width: 22px;
    height: 22px;
    margin: 1px;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
    background: rgb(65, 65, 65);
    border-radius: 4px;
    color: #fff;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.sc-info .ark-area .ark-item .img-box img {
    width: 22px;
    height: 22px;
    border-radius: 2px;
}

.sc-info .ark-area .ark-item .text-box {
    font-size: 14px;
}

.sc-info .ark-area .ark-item .text-box .name {}


.sc-info .group-system {
    width: 100%;
}

.sc-info .group-system .engraving-area {
    padding: 15px;
    /* height: 270px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 11px;
    background: #fff;
}

.sc-info .engraving-area .engraving-box {
    display: flex;
    align-items: center;
}

.sc-info .engraving-area .engraving-img {
    width: 30px;
    height: 30px;
    margin-right: 7px;
    border-radius: 4px;
}

.sc-info .engraving-area .engraving-name {
    margin-right: 10px;
}

.sc-info .engraving-area .engraving-ico {
    width: 26px;
    height: 26px;
}

.sc-info .engraving-area .ability-level {
    margin-right: 10px;
}

.sc-info .engraving-area .grade {
    margin-right: 5px;
}

.sc-info .engraving-area .grade.unknown {
    display: none;
}

.sc-info .engraving-area .alert {
    width: 15px;
    height: 15px;
    background: url("../image/alert-icon.png") center center no-repeat;
    background-size: contain;
    display: block;
    position: relative;
}

.sc-info .engraving-area .alert:hover .block-text {
    display: block;
    z-index: 3;
}

.sc-info .engraving-area .block-text {
    display: none;
    position: absolute;
    top: 100%;
    left: 100%;
    white-space: nowrap;
    background: #f00;
    padding: 5px 8px;
    border-radius: 3px;
}

.dark-mode .sc-info .karma-area {
    background: #2f2f2f !important;
    color: #fff !important;
}


/* 원정대 */

.sc-expedition {
    display: none;
    flex-direction: column;
}

.sc-expedition .group-server {
    width: 100%;
    padding: 15px;
    margin-top: 25px;
}

.sc-expedition .group-server .server-area {
    margin-bottom: 20px;
}

.sc-expedition .server-area .server-name {
    font-size: 18px;
    font-weight: 600;
}

.sc-expedition .expedition-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.sc-expedition .expedition-area .expedition-list {
    display: flex;
    padding: 10px;
    gap: 15px;
    border: 1px solid #939393;
    border-radius: 3px;
    height: 75px;
    align-items: center;
}

.sc-expedition .expedition-area .expedition-list img {
    width: 40px;
    height: 40px;
}

.sc-expedition .expedition-area .expedition-list .info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sc-expedition .expedition-area .expedition-list .info-box .character-level {
    font-size: 12px;
    color: #3e3e3e;
}

.sc-expedition .expedition-area .expedition-list .info-box .name {}

.sc-expedition .expedition-area .expedition-list .info-box .armor-level {}

.sc-expedition .expedition-area .expedition-list .info-box .spec {}


.sc-history {
    display: none;
}