@import url(../css/common.css);
@import url(../css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


body{
    width:280px;
    margin: 0 auto;
    padding: 0 10px;
}
