/* Common Styles - General elements and layout */
select {
    position: relative;
    overflow: hidden;
}

input[type=number] {
    width: 100%;
    background-color: #f0f3f5;
    -moz-appearance: textfield;
    /* Firefox */
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: auto !important;
    opacity: 1;
}

input[type=number]::-ms-expand {
    /* IE, Edge*/
    opacity: 1;
}

.group-info .spec-area .tier-box .difference {
    position: relative;
    padding-left: 13px;
}

.group-info .spec-area .tier-box .difference:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 8px;
}

.group-info .spec-area .tier-box .difference.zero {
    color: rgb(255, 255, 255);
}

.group-info .spec-area .tier-box .difference.zero:after {
    background: rgb(255, 255, 255);
    height: 5px;
}

.group-info .spec-area .tier-box .difference.incress {
    color: #FF4500;
}

.group-info .spec-area .tier-box .difference.incress:after {
    background: #FF4500;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.group-info .spec-area .tier-box .difference.decrease {
    color: #1E90FF;
}

.group-info .spec-area .tier-box .difference.decrease:after {
    background: #1E90FF;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.group-info .spec-area .gauge-box {
    display: flex;
    flex-direction: column;
    gap:5px 0;
}

.group-info .reset-area {
    display: block;
    margin-top: 20px;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background: #2f2f2f;
    color: #fff;
    cursor: pointer;
}

.group-info .detail-area {
    /* padding: 10px; */
    line-height: 1.2;
}

.group-info .detail-area .title {
    text-align: center;
}

/* Specific Layout Components*/
.group-equip .number-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.group-equip .number-box .option-wrap {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
}

.group-equip .number-box .option-wrap .option-item {
    display: flex;
    justify-content: flex-start;
    height: 18px;
    border-radius: 2px;
    border: 1px solid #767676;
    overflow: hidden;
    width: 50%;
    height: 18px;
}

.group-equip .number-box .option-wrap .quality {
    height: 100%;
    width: 18px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 13px;
}

.group-equip .number-box .option-wrap .tier.bangle {
    width: 100%;
    height: 18px;
}

.group-equip .number-box .option-wrap .stats {
    /* border: 1px solid #b3b3b3; */
    border: none;
    border-radius: 0;
}

.group-equip .number-box .option-wrap .option {
    border-radius: 0;
}

.group-equip .number-box .option-wrap .option[disabled] {
    border: 1px solid #e2e2e2;
}

.group-equip .number-box .progress {
    position: relative;
    display: block;
    width: 100%;
}



/* gem area */

.sc-info .gem-area .gem-box {
    display: flex;
    flex-direction: column;
    width: 48px;
    background: initial;
    overflow: hidden;
    border: 1px solid #767676;
}

.sc-info .gem-area .gem-box .level {
    height: calc(44px / 3);
    position: initial;
    width: 100%;
    border-radius: 0;
    border: none;
}

.sc-info .gem-area .gem-box select {
    height: calc(44px / 3);
    border-radius: 0;
    border: 1px solid #747474;
    border-left: none;
    border-right: none;
}

/*armor-item*/
.group-equip .armor-item .plus {
    max-width: 66px;
}

.group-equip .armor-item .hyper-wrap {
    gap: 4px;
}

.group-equip .armor-item .hyper-wrap .level {
    padding-left: 0;
}

/* sc-info: main section style*/

.sc-info .option-box .option {
    width: 100%;
    border: 1px solid #767676;
}

.sc-info .text-box .elixir-wrap .elixir {
    width: 100%;
}

.sc-info .text-box .hyper-wrap .hyper:after {
    display: none;
}

.sc-info .accessory-area .accessory-item:not(:nth-child(6)) .img-box img {
    padding-top: 10px;
}

.sc-info .accessory-area .accessory-item:last-child {
    flex-wrap: wrap;
    height: initial;
}

.sc-info .accessory-area .accessory-item:last-child .img-box {
    height: 64px;
}

.sc-info .accessory-area .accessory-item .number-box {
    width: 110px;
}

.sc-info .accessory-area .number-box input.progress {
    background: #f0f3f5;
    border: 1px solid #767676;
}

.sc-info .accessory-area .accessory-item:last-child .number-box {
    width: calc(100% - 42px - 8px);
}

.sc-info .accessory-area .option-box {
    width: 100%;
}

.sc-info .accessory-area .buff-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sc-info .accessory-area .buff-wrap .buff {}

.sc-info .group-equip .gem-area {
    width: calc(100% - 20px);
}

.sc-info .engraving-area .engraving-box {
    gap: 5px;
}

.sc-info .engraving-area .engraving-box>* {
    margin: 0;
}

.sc-info .engraving-area .engraving-ico {
    background-image: none;
    width: 50px;
    height: initial;
}

.sc-info .engraving-area .grade {
    width: 42px;
}

.sc-info .engraving-area .engraving-name {
    min-width: 0;
}


.sc-info .armor-area .armor-item .name-wrap {
    display: flex;
    gap: 0 5px;
    flex-wrap: wrap;
    align-items: center;
}

.sc-info .armor-area .armor-item .name-wrap .tag {
    display: none;
}

.sc-info .armor-area .armor-item:last-child {
    display: initial;
}

.sc-info .armor-area .armor-item:last-child .text-box {
    display: initial;
}

.sc-info .armor-area .armor-item:last-child .name-wrap {
    /* text-align: center; */
    gap: 4px 0;
}

.sc-info .armor-area .armor-item:last-child .name-wrap>* {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5px 0;
}

.sc-info .armor-area .armor-item:last-child .name-wrap .tag {
    justify-content: center;
    margin-bottom: 5px;
}

.sc-info .armor-area .armor-item:last-child .name-wrap i,
.sc-info .armor-area .armor-item:last-child .name-wrap input {
    width: 30px;
}

/* simple-option-area */
.sc-info .group-equip .gem-area {
    border-radius: 5px 0 0 5px;
}

.sc-info .group-equip .gem-area .skill {
    letter-spacing: -1.2px;
    height: calc(44px / 3);
}

.sc-info .group-equip .simple-option-area {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 75px;
    background: #e6e8ec;
    border-radius: 0px 5px 5px 0;
}

.group-equip .simple-option-area .extend-button {
    cursor: pointer;
    writing-mode: vertical-lr;
    padding: 15px 3px 5px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.group-equip .simple-option-area .extend-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    width: 10px;
    height: 10px;
    background: #000;
    transition: clip-path 300ms;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
}

.group-equip .simple-option-area .extend-button.on:after {
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 50%);
}

.group-equip .simple-option-area .extend-list {
    background: #e6e8ec;
    position: absolute;
    left: 100%;
    top: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    overflow: hidden;
    padding: 4px 0;
    width: 0;
    white-space: nowrap;
    transition: width 300ms, padding 300ms;
    border-radius: 5px;
}

.group-equip .simple-option-area .extend-list.on {
    width: 70px;
    padding: 4px;
}

.group-equip .simple-option-area .extend-item {
    padding: 5px 8px;
    background: rgba(0, 0, 0, 0);
    transition: background 300ms;
}

.group-equip .simple-option-area .extend-item:hover {
    background: rgba(0, 0, 0, 0.4);
}

/* ark-area */
.group-equip .ark-list .ark-item.karma-radio {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.group-equip .ark-list .ark-item .value {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.group-equip .ark-list .ark-item .value i {
    width: 13px;
    text-align: center;
}

.group-equip .ark-list .ark-item .radio {
    width: 100%;
    display: flex;
    justify-content: space-between;
}